<main class="max-w-4xl mx-auto">
    <section id="home" class="flex flex-col-reverse justify-center sm:flex-row p-6 items-center gap-8 mb-12">
        <article class="sm:w-1/2">
            <h2 class="max-w-md text-3xl font-bold text-center sm:text-4xl sm:text-left text-slate-900 dark:text-white">
                Naildesign <span class="text-indigo-700 dark:text-indigo-300">und</span> Wimpernverlängerung
            </h2>
            <p class="max-w-md text-2xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">
                Verwöhne deine Nägel in The Nail Bar Dresden - Deine Oase für stilvolle Schönheit!
            </p>
            <p class="max-w-md text-2xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">
                GRAND OPENING - COMING SOON
            </p>
        </article>
        <img class="w-1/2 sm:w-1/4 rounded-full bg-pink-100 dark:bg-pink-100" src="./assets/imgs/logo.png" alt="logo">
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="service" class="p-6 my-12">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
            Unser Service
        </h2>
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="about" class="p-6 my-12">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
            Über uns
        </h2>
        <h2 class="text-3xl font-semibold mb-4">Willkommen bei The Nail Bar Dresden!</h2>
        <p class="text-slate-600 dark:text-white">The Nail Bar ist Ihr exklusives Nagelstudio, das Ihnen ein unvergessliches Erlebnis für perfekte Nägel bietet. Unser engagiertes Team erfahrener Nageltechnikerinnen ist darauf spezialisiert, Ihre Nägel in wunderschöne Kunstwerke zu verwandeln.</p>
        <p class="text-slate-600 dark:text-white mt-4">Wir legen großen Wert auf Qualität und Hygiene, weshalb wir nur hochwertige Produkte und sterilisierte Werkzeuge verwenden. Unser modernes und einladendes Ambiente lädt Sie ein, sich zu entspannen und Ihre Nägel in professionelle Hände zu legen.</p>
        <p class="text-slate-600 dark:text-white mt-4">Ob Sie sich für ein klassisches French Manicure, individuelles Nail Art oder eine luxuriöse Spa-Behandlung entscheiden - bei uns werden Ihre Wünsche und Vorstellungen in die Realität umgesetzt. Ihre Zufriedenheit ist unser oberstes Ziel!</p>
    </section>
</main>