<main class="max-w-4xl mx-auto">
    <section id="home" class="flex flex-col-reverse justify-center sm:flex-row p-6 items-center gap-8 mb-12">
        <article class="sm:w-1/2">
            <h2 class="max-w-md text-3xl font-bold text-center sm:text-4xl sm:text-left text-slate-900 dark:text-white">
                Nageldesign <span class="text-indigo-700 dark:text-indigo-300">und</span> Wimpernverlängerung
            </h2>
            <p class="max-w-md text-3xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">
                - NEUERÖFFNUNG -
            </p>
            <p class="max-w-md text-xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">
                RABATT <span class="text-2xl text-indigo-700 dark:text-indigo-300">50%</span> AUF DIE <span class="text-2xl text-indigo-700 dark:text-indigo-300">GESAMTE RECHNUNG</span> VON 20.09. BIS 7.10.
            </p>
        </article>
        <img class="w-1/2 sm:w-1/4 rounded-full" src="./assets/imgs/logo-gold-black.png" alt="logo">
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="service" class="p-6 my-12 hidden">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
            Unser Service
        </h2>
        <section class="flex flex-col-reverse justify-center sm:flex-row p-6 items-center">
        </section>
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="about" class="p-6 my-12">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
            Über uns
        </h2>
        <h2 class="text-3xl font-semibold mb-4">Willkommen bei The Beauty Bar Dresden!</h2>
        <p class="text-slate-600 dark:text-white">Unser Nagelstudio ist spezialisiert auf erstklassiges Nageldesign und
            atemberaubende Wimpernverlängerungen. Mit Leidenschaft und Erfahrung setzen wir Ihre Schönheit in Szene. Ob
            kreatives Nageldesign oder verführerische Wimpern, wir verwandeln Ihre Wünsche in perfekte Ergebnisse.</p>
        <p class="text-slate-600 dark:text-white mt-4">Hygiene, Qualität und Kundenzufriedenheit stehen bei uns an
            erster Stelle. In unseren modernen und entspannenden Räumlichkeiten bieten wir Ihnen ein unvergessliches
            Beauty-Erlebnis.</p>
        <p class="text-slate-600 dark:text-white mt-4">Vereinbaren Sie noch heute einen Termin bei "The Beauty Bar" und
            lassen Sie sich von uns verwöhnen!</p>
        <p class="text-slate-600 dark:text-white mt-4">- Ihr Team von The Beauty Bar -</p>
    </section>
</main>