<footer class="bg-pink-300 text-white bottom-0 z-10">
    <section class="max-w-4xl mx-auto p-4 flex-col justify-between items-center">
        <h1 class="text-xl font-medium">
            The Nail Bar - NAIL & LASH ARTIST
        </h1>
        <p class="text-lg font-medium">
            <a href="https://goo.gl/maps/HZv4yUox7PvNTnwB6">Königsbrücker Straße 2, 01099 Dresden</a>
        </p>
        <p class="text-lg font-medium">
            Mo - Sa: 10:00 - 19:00
        </p>
        <p class="text-lg font-medium">
            <a href="https://www.facebook.com/nailbar.dresden">Facebook</a>
        </p>
        <p class="text-lg font-medium">
            <a href="https://www.instagram.com/thenailbar.dresden">Instagram</a>
        </p>
        <p class="text-lg font-medium">
            Email: thenailbar.dresden@gmail.com
        </p>
    </section>
</footer>