<footer class="bg-gray-600 text-white bottom-0 z-10">
    <section class="max-w-4xl mx-auto p-4 flex-col justify-between items-center">
        <h1 class="text-xl font-medium">
            The Beauty Bar - NAILS & LASHES
        </h1>
        <p class="text-lg font-medium">
            <a href="https://goo.gl/maps/HZv4yUox7PvNTnwB6">Königsbrücker Straße 2, 01099 Dresden</a>
        </p>
        <p class="text-lg font-medium">
            Mo - Sa: 10:00 - 18:00
        </p>
        
        <hr class="bg-white my-2 w-80">

        <div class="text-lg font-medium flex items-center">
            <span class="k-icon k-i-facebook h-4 w-4 pr-2"></span>
            <a href="https://www.facebook.com/thebeautybar.dresden">Facebook: thebeautybar.dresden</a>
        </div>
        <div class="text-lg font-medium flex items-center">
            <span class="k-icon k-i-share h-4 w-4 pr-2"></span>
            <a href="https://www.instagram.com/thebeautybar.dresden">Instagram: thebeautybar.dresden</a>
        </div>
        <div class="text-lg font-medium flex items-center">
            <span class="k-icon k-i-email h-4 w-4 pr-2"></span>
            <a href="mailto:thebeautybar.dresden@gmail.com">Email: thebeautybar.dresden@gmail.com</a>
        </div>
    </section>
</footer>