@tailwind base;
@tailwind components;
@tailwind utilities;
@import "kendo-material-sky.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --primary-color: #1565c0;
    --secondary-color: #e51a5f;
}